@font-face {
  font-family: "Averta";
  src: url("/src/assets/fonts/Averta-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averta";
  src: url("/src/assets/fonts/Averta-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averta";
  src: url("/src/assets/fonts/Averta-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
